<div class="center hero-unit">
  <h1>Welcome to the home page</h1>

  <h2>
    Log in or sign up now!
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path,
              class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>